/* Color Variables */ 
:root {
    --header-background: #F5F5DC;
    --white: #fff;
    --logo-green: #003200;
    --black: #000000;
    --hover-color: #FFD700;
    --grey: #555;
  }
/* Structure */ 
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Logo and nav bar */ 
/* Logo and nav bar */ 
#main-header {
    background-color: var(--logo-green); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: var(--white);
}
#logo-nav-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.logo img {
    width: 150px; 
}
#main-nav-container {
    text-align: center;
}
.hamburger-menu {
    display: none;
}
#main-nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
#main-nav li{
    list-style: none;
    font-weight: bold;
}
#main-nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease;
}
#main-nav a:hover {
    color: var(--hover-color);
}
/* Dropdown menu styling */
.drop-down-container {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--black);
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dropdown-content li {
    padding: 12px 16px;
}
.dropdown-content a {
    color: var(--black);
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: var(--hover-color);
    color: var(--black) !important;
}

.drop-down-container a i {
    margin-left: -10px;
}

/* Show the dropdown on hover */
.drop-down-container:hover .dropdown-content {
    display: block;
}
/* Active Page Styling */
#main-nav a.active {
    color: var(--hover-color);
    font-weight: bold;
}
/* Contact Us Button */
.contact-us-btn {
    background-color: transparent;
    border: 2px solid var(--white);
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.contact-us-btn:hover {
    background-color: var(--white);
    color: var(--logo-green) !important;
    font-weight: bold;
}

/* Footer */ 
footer {
    background-color: var(--logo-green);
    color: var(--white);
    padding: 40px 0;
}
.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.footer-column {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.footer-column h3 {
    font-size: 18px;
    margin-bottom: -8px;
    border-bottom: 1px solid var(--white);
    text-align: center;
}
.footer-column ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.footer-column ul li {
    font-size: 14px;
    margin-bottom: 5px;
    padding-right: 35px;
}
.footer-column ul li a {
    color: var(--white);
    text-decoration: none;
}
.footer-column ul li a:hover {
    color: var(--hover-color);
}
.fa {
    padding: 15px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15%;
}
.fa-facebook {
    background: #3b5998;
    color: white;
    width: fit-content;
    height: fit-content;
}
.fa-instagram {
    background: #125688;
    color: white;
    width: fit-content;
    height: fit-content; 
}
.fa:hover {
    opacity: 0.7;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; 
}
.fa {
    transition: transform 0.3s ease; 
}
.fa:hover {
    transform: scale(1.1); 
}

/* Main Screen Content */ 
/* Top Photo */
.image-section {
    position: relative;
    overflow: hidden;
}
.about-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.about-text h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-text p {
    font-size: 20px;
    margin: 0;
}
/* Founders section styling */
.founders-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #f9f9f9;
}
.text-content {
    max-width: 50%;
}
.text-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.highlight-text {
    color: var(--logo-green) !important; 
    font-weight: bold;
    margin-bottom: 20px;
}
.text-content p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--grey);
}
.image-content {
    max-width: 40%;
}
.image-content img {
    width: 100%;
    border-radius: 8px;
}

/* Mission / why choose us */
.section-title {
    text-align: center;
    font-size: 2.5em;
    margin: 40px 0 20px;
}

.highlight {
    color: var(--hover-color);
    font-weight: bold;
}

.mission {
    background: #fff;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 10px;
   
}

.mission-text {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

.why-choose-us {
    background: #fff;
    padding: 30px 20px;
    margin: 20px;
    border-radius: 10px;
 
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.feature-box {
    background: #f9f9f9;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.feature-box h3 {
    margin: 10px 0;
    color: var();
}

.feature-box p {
    font-size: 1em;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

/* smaller screens */ 
@media (max-width: 900px) {
    /* Header adjustments */
    #main-header {
        flex-direction: column; 
        padding: 10px;
        align-items: flex-start;
    }   
    .logo img {
        width: 120px; 
    }

    /* Update the navigation menu for small screens */
    .hamburger-menu {
        display: block;
        cursor: pointer;
        font-size: 30px;
        color: white;
        margin-right: 20px;
    }

    #main-nav-container {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: var(--logo-green); 
        position: absolute;
        top: 60px; 
        left: 0;
        z-index: 1000;
    }

    .show {
        display: flex !important;
    }

    #main-nav ul {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    #main-nav li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid var(--white); 
    }

    #main-nav a {
        width: 100%;
        color: var(--white);
        text-decoration: none;
        font-size: 18px;
        padding: 15px 0;
        display: block;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    #main-nav a:hover {
        background-color: var(--hover-color);
        color: var(--black);
    }

    /* make Contact Us Button in the Nav is stand out */
    .contact-us-btn {
        background-color: var(--hover-color);
        color: var(--black);
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        text-align: center;
    }
     /* Services section adjustments */
     .service-boxes {
        flex-direction: column;
        align-items: center;
    }
    .service-box {
        width: 80%;
        margin-bottom: 20px;
    }


    /* Footer adjustments */
    .footer-container {
        flex-direction: column; 
        align-items: center;
    }
    .footer-column {
        margin-bottom: 20px; 
    }
    .footer-column h3 {
        font-size: 16px;
    }
    .footer-column ul li {
        font-size: 12px; 
    }
    .fa {
        font-size: 16px; 
    }

    /* Main content adjustment */ 
    .founders-section {
        flex-direction: column;
        text-align: center;
    }
    .text-content, .image-content {
        max-width: 100%;
    }
    .image-content {
        margin-top: 20px;
    }

}